body, td {
    font-family: "Tahoma";
    font-size: 11px;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-weight: normal;
}

.center {
    width: 800px;
    margin: 0px auto;
}

#dashboard {
    background-color: #3B5998;
    color: #FFFFFF;
    border-bottom: 3px solid #DEDEDE;
    margin-bottom: 10px;
    height: 27px;
}

#logo {
    font-size: 16px;
    float: left;
    margin: 4px 5px;
}

#menu a {
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    padding: 7px 10px;
    text-decoration: none;
}

#menu a:hover {
    background-color: #5C75AA;
}

#user_email {
    font-weight: bold;
    padding: 7px 10px;
    float: right;
}

#profile_settings {
    padding: 10px;
    border: 1px solid #DEDEDE;
    background-color: #EDEDED;
    float: left;
}

td {
    padding: 5px;
}

td.key {
    font-weight: bold;
    text-align: right;
}

td.text {
    padding-top: 0px;
}

.schema{
    width: 100%;
    border:5px solid navy;
    background-color: #F8F8FF;
    border-collapse:collapse;
}

.day{
    padding:0;
    width: 14%;
    border:1px solid navy;
    border-collapse:collapse;
    text-indent:1em;
}

.day div{
    height:3em;
    
}
.day div a:hover{
    text-decoration: none;
}

.day .head{
    color:#FFFFFF;
    background-color: navy;
    padding:0;
}

.dayhead{
    position:relative;
    top:-2px;
    left:-2px;
    width:102.5%;
    height:111%;
    font-weight:bold;

}

.back:hover {
    background-color:silver;
}

.dayhead td.head{

    width:55%;
    text-indent: 0.5em;
}

.daybody:hover {
    background-color:silver;
}

.myshift{
    background-color: lime;
}

.myshift:hover{
    background-color: teal;
}

.daybody a {
    position:relative;
    top:1em;
    font-weight:bold;
}
